@import 'blocks/main';
@import 'blocks/news';
@import 'blocks/download';
@import 'blocks/characters';
@import 'blocks/location';
@import 'blocks/variables';
body {
    font-family: 'HYWenHei';
}

* {
    margin: 0;
    padding: 0;
}